extends layout.pug

block content
    table.table.table-striped.table-hover.table-bordered
        thead.thead-dark
            tr
                th #
                th Название файла
                th Текст
                th Пользователь
                th Время
        tbody
            each line in data
                tr
                    td= line.id
                    td= line.filename
                    td= line.text
                    td= line.userId
                    td= line.createdAt

        tfoot
            tr
                td(colspan=5)='Всего '+total+' записей'

    div
        ul.pagination
            li.page-item(class=page == 1 ? 'disabled' : '')
                a.page-link(href="/data/list/page/"+(page-1)) &laquo;

            - for (var i = 1; i <= pages; i++) {
                li.page-item(class= i == page ? 'active' : '')
                    a.page-link(href="/data/list/page/"+i)= i
            - }

            li.page-item(class=page == pages ? 'disabled' : '')
                a.page-link(href="/data/list/page/"+(page+1)) &raquo;